@{
   Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<br /><br /><br />
<div class="text-center">
    <a href="/Principal">
        <img src="~/images/sanduiche.jpg" />
        <h3>SISTEMA DE CADASTRO DE RESTAURANTES</h3>
    </a>
</div>